<div class="container mx-auto px-6 lg:px-0">
  <div class="max-w-5xl mx-auto bg-gray-50 py-10 rounded-sm px-5">
    <% if mobile_access %>
      <%= form_with url: notifications_path, method: :post, class: "space-y-6" do %>
        <div class="space-y-4">
          <label class="font-semibold block">
            Data
          </label>
          <textarea placeholder="Data" name="data" class="w-full px-4 py-3 rounded">{}</textarea>
          <div class="text-xs text-gray-500">
            Use only the Unique User Identifier. This field is not accept the push notification token.
          </div>
        </div>
        <div class="space-y-4">
          <label class="font-semibold block">
            External Key
          </label>
          <input placeholder="External Key" class="w-full px-4 py-3 rounded" name="external_key" value=""/>
          <div class="text-xs text-gray-500">
            Use only the Unique User Identifier. This field is not accept the push notification token.
          </div>
        </div>
        <div class="space-y-4">
          <label class="font-semibold block">
            Topic
          </label>
          <input placeholder="Topic" class="w-full px-4 py-3 rounded" name="topic" value=""/>
          <div class="text-xs text-gray-500">
            You will send messages to all users who subscribed to the topic.
          </div>
        </div>
        <button class="btn btn-neutral" type="submit">
          Send to a chosen user
        </button>
      <% end %>
    <% else %>
      <p class="text-center text-gray-500">
        Please log in to continue
      </p>
    <% end %>
  </div>
</div>
