<div class="container mx-auto px-6 lg:px-0">
  <div class="max-w-5xl mx-auto bg-gray-50">
    <% if mobile_access %>
    <% else %>
      <p class="text-center">
        Please Login
      </p>
    <% end %>
  </div>
</div>
