<div class="container mx-auto px-6 lg:px-0">
  <div class="max-w-5xl mx-auto bg-gray-50 py-10 rounded-sm px-5">
    <% if mobile_access %>
      <div class="flex justify-center items-center space-x-4 mb-14">
        <%= link_to "One", root_path(target: "one"), class: class_names("w-24 btn", "btn-soft": @target.blank?, "btn-neutral": @target == "one") %>
        <%= link_to "Multiple", root_path(target: "multiple"), class: class_names("w-24 btn", "btn-soft": @target.blank?, "btn-secondary": @target == "multiple") %>
      </div>
      <%= render "form" %>
    <% else %>
      <p class="text-center text-gray-500">
        Please log in to continue
      </p>
    <% end %>
  </div>
</div>
