<turbo-frame id="search_results">
  <% if @mobile_devices.any? %>
    <button class="btn btn-xs">
      Mobile Devices: <%= @mobile_devices.count %>
    </button>
  <% else %>
    <button class="btn btn-xs" disabled>
      <p>Mobile Devices: 0</p>
    </button>
  <% end %>
</turbo-frame>